### Importing the Libraries used

In [1]:
import pandas as pd
import numpy as np

### Reading the Various CSV files

In [2]:
vcf= pd.read_csv("vcf.csv")
catboost= pd.read_csv("fine_tune.csv")
vcf_feat= pd.read_csv("vcf_feat.csv")

In [3]:
vcf.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.307319
1  Apcnt_1000048        0.371510
2  Apcnt_1000052        0.390752
3  Apcnt_1000076        0.750861
4  Apcnt_1000080        0.151417

In [4]:
catboost.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.303131
1  Apcnt_1000048        0.413923
2  Apcnt_1000052        0.368069
3  Apcnt_1000076        0.751204
4  Apcnt_1000080        0.171852

In [5]:
vcf_feat.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.314036
1  Apcnt_1000048        0.354162
2  Apcnt_1000052        0.396775
3  Apcnt_1000076        0.746862
4  Apcnt_1000080        0.140766

### Bagging

In [6]:
catboost_vcf= catboost.copy()
catboost_vcf["default_status"]= (catboost["default_status"]*0.4)+(vcf["default_status"]*0.6)
catboost_vcf.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.305644
1  Apcnt_1000048        0.388475
2  Apcnt_1000052        0.381679
3  Apcnt_1000076        0.750998
4  Apcnt_1000080        0.159591

In [7]:
FinalPrediction =vcf.copy()
FinalPrediction["default_status"] = ((vcf_feat["default_status"])+(catboost_vcf["default_status"]))/2
FinalPrediction.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.309840
1  Apcnt_1000048        0.371319
2  Apcnt_1000052        0.389227
3  Apcnt_1000076        0.748930
4  Apcnt_1000080        0.150179

###  Final Submission

In [8]:
FinalPrediction.to_csv("FinalSubmission.csv", index= False)